# Virtual Environment
.venv/
venv/
env/
.env

# macOS
.DS_Store
Icon?

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Data (adjust as needed)
processed/
outputs/

# Notebooks checkpoints
.ipynb_checkpoints/


# for executing the code 
run.sh
GITHUB_COMMANDS.md
security.md
docker-commands-reference.md
data/cleaned 
run_git.sh
docker-commands-comprehensive.md